$theme-color: #ff1493;

.music-box {
  height: 90vh;

  border: 1px solid $theme-color;
  border-radius: 8px;
  color: $theme-color;
  // margin: 10px;
  // padding: 10px;
}

.music-img {
  border-radius: 8px;
}
